{% extends 'Base.html' %}
{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">

<body>

{% block banner_block %}
    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>تا 40٪ تخفیف</h3>
                <p>📚 "کتاب‌ها، دریچه‌ای به دنیای دانش و تخیل هستند! با هر ورق، سفری تازه را آغاز کنید و افق‌های جدیدی را
                    کشف کنید. تجربه‌ای بی‌پایان در انتظار شماست!" ✨</p>
                <a href="#" class="btn">اکنون خرید کنید</a>
            </div>

            <div class="swiper books-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                <div class="swiper-wrapper">
                    {% for item in banner_img %}
                        <a href="#" class="swiper-slide" style="pointer-events: none;"><img src="media/{{ item }}"
                                                                                            alt=""></a>
                    {% endfor %}
                </div>
                <img src="{% static 'Shops/image/stand.png' %}" class="stand" alt="">
            </div>

        </div>

    </section>
{% endblock %}
{% block icons_block %}
    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <div class="content">
                <h3>ارسال رایگان</h3>
                <p>سفارش بالای 100 هزار تومان</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>پرداخت امن</h3>
                <p>100 پرداخت مطمئن</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-redo-alt"></i>
            <div class="content">
                <h3>بازگشت آسان</h3>
                <p>10 روز مهلت بازگشت</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>پشتیبانی 7/24</h3>
                <p>در هر زمان با ما تماس بگیرید</p>
            </div>
        </div>

    </section>

{% endblock %}

{% block best_Book_Block %}
    <section class="featured" id="featured">

        <h1 class="heading"><span>کتاب های برجسته</span></h1>

        <div class="swiper featured-slider">

            <div class="swiper-wrapper">
                {% for Item in bestbook %}
                    <!-- {% if Item.best_book %} -->
                        <div class="swiper-slide box">
                            <div class="image">
                                <img src="media/{{ Item.image }}" alt="">
                            </div>
                            <div class="content">
                                <h3>{{ Item.name }}</h3>
                                {% if Item.discount == True %}

                                    <div class="price">{{ Item.price }} هزار تومان <br><span>{{ Item.discount_price }} هزارتومان</span>
                                    </div>
                                {% else %}
                                    <div class="price">{{ Item.price }} هزار تومان<br><span><br></span></div>
                                {% endif %}
                                <div class="stars" style="color: gold">
                                    {% with ''|center:Item.score as range %}
                                        {% for i in range %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                    {% endwith %}
                                    {% with ''|center:Item.unfill_score as range %}

                                        {% for i in range %}
                                            <i class="far fa-star"></i>

                                        {% endfor %}
                                    {% endwith %}


                                    {#                                    <i class="fas fa-star-half-alt"></i>#}
                                </div>


                                <a href="{% url 'book_info' slug=Item.slug %}" class="btn">اضافه کردن به سبد خرید</a>
                                <br>
                                <a href="{% url 'book_info' slug=Item.slug %}" class="btn">ادامه مطالب</a>
                            </div>
                        </div>

                    <!-- {% endif %} -->

                {% endfor %}
            </div>
        </div>
    </section>



    <section class="arrivals" id="arrivals">

        <h1 class="heading"><span>کتاب های جدید</span></h1>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">
                {% for book in newbook %}
                    <!-- {% if book.new_book == True %} -->

                        <a href="{% url 'book_info' slug=book.slug %}" class="swiper-slide box" style="text-decoration: none">
                            <div class="image">
                                <img src="media/{{ book.image }}" alt="">
                            </div>
                            <div class="content">
                                <h3>{{ book.name }}</h3>
                                {% if book.discount %}
                                    <div class="price" style="font-size: 20px">{{ book.price }} هزارتومان <span><br>{{ book.discount_price }} هزارتومان</span>
                                    </div>
                                {% else %}
                                    <div class="price" style="font-size: 20px">{{ book.price }} هزارتومان</div>

                                {% endif %}
                                <div class="stars">
                                    {% with ''|center:book.score as range %}
                                        {% for star in range %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                    {% endwith %}
                                    {% with ''|center:book.unfill_score as range %}
                                        {% for star in range %}
                                            <i class="far fa-star"></i>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                        </a>
                    <!-- {% endif %} -->
                {% endfor %}
    </section>


    <section class="reviews" id="reviews">

    <h1 class="heading"><span>نظرات مشتریان</span></h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/pic-1.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="blogs" id="blogs">

    <h1 class="heading"><span>وبلاگ</span></h1>

    <div class="swiper blogs-slider">
        <div class="swiper-wrapper">
            {% for blog in blog %}
            <div class="swiper-slide box" style="height: 400px">
                <div class="image">
                    <img src="media/{{ blog.image}}" alt="">
                </div>
                <div class="content">
                    <h3>{{ blog.title}}</h3>
                    <a href="{% url 'blog' slug=blog.slug %}" class="btn" id="card_btn">مطالعه بیشتر</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}

{% block javascript %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="{% static 'Shops/js/script.js' %}"></script>
{% endblock %}

</body>
</html>